name: Laravel CI

on:
  push:
    branches: [ main, prince ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4  

      - name: set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, dom, fileinfo, mysql
          coverage: none  

      - name: Copy .env file
        run: cp .env.example .env    

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction --no-progress --optimize-autoloader  

      - name: Generate app key
        run: php artisan key:generate  

      - name: Run tests
        run: php artisan test  